.sm-icon {
    margin-right: 1rem;
}

.sm-link {
    color: black; 
}

.sm-link:hover {
    text-decoration: none;
    color: $resume-green; 
}

.contact .col {
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
}