a {
    color: $dark-green;
}

a:hover {
    color: $resume-green;
    border-color: $resume-green;
}

.project-card {
    height: 100%;
}

.project-card:hover {
    border-color: $resume-green;
}

.project-col {
    margin-bottom: 30px;
}
