 // Colours
$transparent: rgba(0, 0, 0, 0);
$wwm-gold: rgb(187, 157, 19);
$wwm-gold-light: rgba(187, 157, 19, 0.4);
$wwm-gold-medium: rgba(187, 157, 19, 0.8);
$wwm-navy: rgb(1, 38, 57);
$wwm-navy-light: rgba(1, 38, 57, 0.4);
$wwm-navy-medium: rgba(1, 38, 57, 0.8);
$wwm-blue: rgb(107, 136, 178);
$wwm-green: rgb(160, 173, 138);
$wwm-mauve: rgb(125, 100, 120);

$resume-green: #51bb59;
$resume-grey: #b2b7ba;
$dark-green: #014421;

 // Spacing

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$border-hover: border-color 0.15s ease-in-out;
